body {
    background-color: #646464;
}

.bg-image {
    height: 56vh;
    background-size: cover;
    background-position: center center;
}

.btn-white {
    color: #000000;
    background-color: #ffff;
    border-color: #000000;
}

div.main {
    margin-top: 160px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
b {
    color: white;
}

